// Colors
$lightThemeTextColor: #1c1c1c;
$lightThemeBgColor: #ffffff;
$lightThemeSecondaryColor: #888888;
$lightThemeAccentColor: #ff6f61;
$lightThemeGlyphColor: #444444;
$darkThemeTextColor: #f9f7f1;
$darkThemeBgColor: #121212;
$darkThemeSecondaryColor: #333333;

// Colors End

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.p-container {
  max-width: 1200px;
  margin: 80px auto 0 auto;
}

html {
  font-family: "Open Sans";
  scroll-behavior: smooth;
  background-color: $lightThemeBgColor;
  color: $lightThemeTextColor;
  padding: 0;
  margin: 0;

  body {
    @extend .noselect;
    padding: 0;
    margin: 0;

    div#hero {
      background: linear-gradient(
          240.93deg,
          #fffeee 5.79%,
          #e6fff7 49.42%,
          #f0fff2 95.63%
        ),
        #e4f9fe;

      padding: 10px 0;

      div.nav {
        background: linear-gradient(
            240.93deg,
            #fffeee 5.79%,
            #e6fff7 49.42%,
            #f0fff2 95.63%
          ),
          #e4f9fe;
        max-width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        .nav-content {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          padding: 10px 0;
          max-width: 1200px;
          margin: 0 auto;
          font-size: 18px;
          font-weight: 500;

          border-bottom: $lightThemeGlyphColor solid 2px;

          @media (max-width: 1210px) {
            padding: 10px 8px;
          }

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 10px 8px;
          }

          .logo {
            padding: 0;
            margin: 0;
            img {
              vertical-align: middle;
              height: 60px;
              width: 60px;
              object-fit: cover;
            }
          }

          .navlinks {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            @media (max-width: 768px) {
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 0.5rem 1rem;
            }

            li {
              a {
                color: $lightThemeTextColor;
                text-decoration: none;

                &:hover,
                &:focus,
                &:active {
                  text-decoration: underline solid $lightThemeTextColor 25%;
                }
              }
              margin: 0 0.5rem;

              @media (max-width: 768px) {
                margin: 0.5rem 0;
              }
            }
          }

          .contact {
            a.button {
              text-decoration: none;
              color: $lightThemeTextColor;
              background-color: unset;
              border: 1px solid $lightThemeTextColor;
              border-radius: 2px;
              padding: 16px 32px;
              transition: all 50ms ease-in-out;
              line-height: 150%;

              span {
                vertical-align: middle;
                margin-bottom: 4px;
                font-size: 18px;
              }

              &:hover {
                background-color: $lightThemeTextColor;
                color: $lightThemeBgColor;
              }
            }
          }
        }
      }

      section#intro {
        @extend .p-container;
        padding: 72px 0px;

        .content {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;

          div.details {
            display: flex;
            flex-direction: column;
            padding-right: 36px;

            h1 {
              font-size: 136px;
              font-weight: 800;
              margin: 0;
              width: 100%;
              line-height: 0.9;
            }

            h1#first-name {
              text-align: left;
            }

            h1#last-name {
              text-align: right;
            }

            h2 {
              font-size: 48px;
              font-weight: 600;
              vertical-align: middle;
              span.material-symbols-outlined {
                font-size: 48px;
                vertical-align: middle;
                margin-bottom: 6px;
              }
            }

            p {
              font-size: 18px;
              font-weight: 400;
              text-align: center;
              text-align: justify;
            }

            a.button {
              text-decoration: none;
              font-weight: 700;
              color: $lightThemeTextColor;
              line-height: 150%;
              background-color: unset;
              border: 1px solid $lightThemeTextColor;
              border-radius: 2px;
              padding: 20px 40px;
              width: 106px;
              margin-top: 36px;
              text-align: center;
              transition: all 50ms ease-in-out;

              span {
                vertical-align: middle;
                margin-bottom: 4px;
                font-size: 18px;
              }

              &:hover {
                background-color: $lightThemeTextColor;
                color: $lightThemeBgColor;
              }
            }
          }

          div.avatar {
            // border-image: linear-gradient(to right, #ff0080, #7928ca) 1;
            // animation: border 5s ease-in-out infinite;
            img {
              height: 730px;
              width: 510px;
              object-fit: cover;
              border: 8px solid transparent;
              box-sizing: border-box;
              border-image: linear-gradient(
                to right,
                #264878,
                #2aaed3,
                #7ed2a0
              );
              border-image-slice: 1;
              // border-bottom-left-radius: 150px;
              animation: border 5s ease-in-out infinite;
            }

            @keyframes border {
              0% {
                border-image: linear-gradient(to right, #264878, #2aaed3) 1;
              }
              33% {
                border-image: linear-gradient(to right, #2aaed3, #7ed2a0) 1;
              }
              66% {
                border-image: linear-gradient(to right, #7ed2a0, #264878) 1;
              }
              100% {
                border-image: linear-gradient(to right, #264878, #2aaed3) 1;
              }
            }
          }
        }
      }
    }

    main {
      section {
        @extend .p-container;
        max-width: 1200px;

        h3.section-header {
            font-size: 32px;
            font-weight: 700;
            line-height: 100%;
          }
      }

      section#projects {
        div#project-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div.card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 60px 0;

                div.project-details {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    vertical-align: middle;

                    div.details {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        padding-right: 144px;

                        h1 {
                            font-size: 64px;
                            font-weight: 700;
                            line-height: 100%;
                            margin-top: 0;
                        }

                        p {
                            display: block;
                        }

                        table {
                            width: 380px;
                            border-collapse: collapse;

                            tbody {
                                tr {
                                    border-bottom: 1px solid $lightThemeSecondaryColor;
                                    td {
                                        padding: 24px 0;
                                        vertical-align: middle;
                                    }

                                    td:nth-child(2) {
                                        text-align: right;
                                    }
                                }
                            }
                        }

                        a.button {
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 100%;
                            width: 96px;
                            height: 16px;

                            color: $lightThemeTextColor;
                            background-color: unset;
                            border: 1px solid $lightThemeTextColor;
                            border-radius: 2px;
                            padding: 20px 40px;
                            margin-top: 36px;
                            text-align: center;
                            transition: all 50ms ease-in-out;

                            span {
                                vertical-align: middle;
                                margin-bottom: 4px;
                                font-size: 18px;
                            }

                            &:hover {
                                background-color: $lightThemeTextColor;
                                color: $lightThemeBgColor;
                            }
                        }
                    }

                    div.image > img {
                        height: 370px;
                        width: 570px;
                        object-fit: cover;
                        border-radius: 2px;
                    }
                }

                div.testimonial {
                    max-width: 800px;
                    text-align: justify;
                    align-self: center;

                    p {
                        margin-top: 80px;
                        margin-bottom: 32px;
                        font-size: 24px;
                        font-weight: 400;
                    }

                    a.author {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        color: $lightThemeTextColor;

                        img {
                            height: 64px;
                            width: 64px;
                        }

                        div.author-details {
                            display: flex;
                            flex-direction: column;
                            margin-left: 16px;

                            h3 {
                                font-size: 20px;
                                font-weight: 600;
                                margin: 0;
                            }

                            span {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 22px;
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            div.card:nth-child(even) {
                div.project-details {
                    flex-direction: row-reverse;
                    div.details {
                        padding-right: 0;
                        padding-left: 144px;
                    }
                }
            }
        }
      }

      section#skills {
        div#skill-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            div.skill-card {
                max-width: 100px;
                min-width: 100px;
                max-height: 100px;
                overflow: hidden;
                margin: 0;
            }
        }
      }

      section#experience {
        div.container {
          display: flex;
          flex-direction: row;
          align-items: center;

          div.section-hero {
            h2 {
              font-size: 64px;
              font-weight: 600;
              line-height: 120%;
              width: 380px;
              margin-top: 0;
            }

            a.button {
              text-decoration: none;
              color: $lightThemeTextColor;
              background-color: unset;
              border: 1px solid $lightThemeTextColor;
              border-radius: 2px;
              padding: 16px 32px;
              transition: all 50ms ease-in-out;
              line-height: 150%;
              font-weight: 600;
              font-size: 16px;

              &:hover {
                background-color: $lightThemeTextColor;
                color: $lightThemeBgColor;
              }
            }
          }

          div.experience-list {
            table {
              border-collapse: collapse;
              tbody {
                tr {
                  &:first-child{
                    border-top: 1px solid $lightThemeSecondaryColor;
                  }

                  border-bottom: 1px solid $lightThemeSecondaryColor;

                  td {
                    padding: 16px;
                    vertical-align: middle;
                  }

                  td.company {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 100%;
                    min-width: 160px;
                  }

                  td.details {
                    span {
                      display: block;
                    }

                    h6.duration {
                      margin: 24px 0;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 100%;
                    }

                    h4.designation {
                      margin: 16px 0;
                      display: block;
                      font-size: 20px;
                      font-weight: 700;
                      line-height: 100%;
                    }

                    p.description {
                      margin: 0 0 24px 0;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 150%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $darkThemeSecondaryColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $darkThemeSecondaryColor;
}
