@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap");

// Colors

$lightGrey: #e0e0e0;
$darkestGrey: #252525;
$darkGrey1: #303030;
$darkerGrey2: #404040;
$darkerGrey3: #454545;
$light: #f5f5f5;

$greenLightest: #e8f5e9;
$greenLight: #c8e6c9;
$greenDarkest: #003300;

$brownLightest: #efebe9;
$brownLighter: #d7ccc8;
$brownLight: #bcaaa4;
$brownDarkest: #1b0000;

$blueLightest: #e3f2fd;
$blueLight: #bbdefb;
$blueDarkest: #002171;

$orangeLightest: #fbe9e7;
$orangeLight: #ffccbc;
$orangeDarkest: #870000;

// Colors End

.card-hover-effect {
    box-shadow: 1px 1px 4px $lightGrey;
    transform: scale(1.01);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;

    body {
        @extend .noselect;
        margin: 0;
        padding: 0;

        nav {
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: $darkGrey1;
            box-shadow: 0 0 0.1rem black;

            @media (max-width: 479px) {
                display: none;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-content: center;
                align-self: center;

                li > a {
                    display: block;
                    color: $light;
                    font-weight: 100;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0.8rem 1rem;
                    transition: all 50ms ease-in-out;

                    &.active {
                        background-color: $darkerGrey2;
                    }

                    &:hover {
                        background-color: $darkerGrey3;
                        font-weight: 400;
                    }
                }
            }
        }

        main {
            .section-header {
                text-align: center;
                display: block;
                font-size: 4rem;
                font-weight: 800;

                &:hover {
                    animation: shake 0.5s;
                }
            }

            section {
                padding: 2rem;
                color: $darkGrey1;

                @media (max-width: 768px) {
                    padding: 1rem;
                }

                @media (max-width: 480px) {
                    padding: 0.5rem;

                    .section-header {
                        font-size: 3rem;
                    }
                }
            }

            .links {
                margin-top: 1rem;
                padding: 0;

                button {
                    background-color: unset !important;
                    box-shadow: unset !important;
                    border: unset !important;
                    border-radius: 50%;

                    a > img {
                        border-radius: 50%;
                        border: 1px solid $light;
                        height: 2rem;
                        width: 2rem;
                        padding: 0.5rem;
                        background-color: $darkestGrey;

                        &:hover {
                            transform: scale(1.01);
                            box-shadow: 1px 1px 0.5rem black;
                        }
                    }
                }
            }

            #intro {
                padding: 0;
                background-color: $darkGrey1;
                @media (max-width: 768px) {
                    height: 100vh;
                }

                #intro-particles {
                    canvas {
                        background-color: $darkGrey1;
                        z-index: 1;
                        width: 100%;
                        position: absolute;
                    }
                }

                .content {
                    color: $light;
                    height: 100vh;
                    min-height: 25rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    z-index: 10;
                    position: relative;

                    #avatar {
                        height: 8rem;
                        width: 8rem;
                        border-radius: 50%;
                        border: 1px solid $light;
                        @media (max-width: 768px) {
                            height: 20vw;
                            width: 20vw;
                        }

                        &:hover {
                            transform: scale(1.01) rotate(2deg);
                            box-shadow: 1px 1px 0.5rem $darkGrey1;
                        }
                    }

                    #name {
                        font-weight: 500;
                        font-size: 5rem;
                        line-height: 0rem;
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                        font-family: "Roboto Slab", sans-serif;
                        text-transform: uppercase;
                        @media (max-width: 768px) {
                            font-size: 10vw;
                            margin-top: 6vw;
                            margin-bottom: 6vw;
                        }
                    }

                    #short-desc {
                        font-size: 1.5rem;
                        font-family: "Roboto Mono";
                        @media (max-width: 768px) {
                            font-size: 4vw;
                        }
                    }

                    #download-resume-button {
                        margin-top: 1rem;
                        background-color: $darkestGrey;
                        border: 1px solid $light;
                        border-radius: 0.3rem;

                        a {
                            text-decoration: none;

                            div {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                padding: 0.5rem 0.5rem;
                                color: $light;
                                font-family: "Roboto Mono";
                                font-size: 1.1rem;
                                text-transform: uppercase;

                                img {
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    margin-right: 0.4rem;
                                }
                            }
                        }

                        &:hover {
                            transform: scale(1.05);
                            box-shadow: 1px 1px 0.5rem black;
                        }
                    }
                }
            }

            #projects {
                background-color: $greenLightest;

                .section-header {
                    color: $greenDarkest;
                }

                .card-deck {
                    padding: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 1rem;

                    align-items: center;
                    justify-items: center;

                    @media (max-width: 1080px) {
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                    @media (max-width: 768px) {
                        grid-template-columns: 1fr 1fr;
                    }

                    @media (max-width: 480px) {
                        grid-template-columns: 1fr;
                    }

                    .flip-card {
                        background-color: transparent;
                        border-radius: 0.5rem;
                        border: 1px solid $greenLight;
                        perspective: 100rem; /* Remove this if you don't want the 3D effect */

                        .flip-card-inner {
                            position: relative;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;

                            .flip-card-front,
                            .flip-card-back {
                                position: absolute;
                                -webkit-backface-visibility: hidden;
                                -moz-backface-visibility: hidden;
                                backface-visibility: hidden;
                            }

                            .flip-card-back {
                                background-color: $blueLight;
                                transform: rotateY(180deg);

                                .project-details {
                                    padding: 0.5rem;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    h1 {
                                        color: $blueDarkest;
                                        font-size: 2rem;
                                        line-height: 0;
                                        &:hover {
                                            animation: shake 0.5sec;
                                        }
                                    }

                                    p {
                                        text-align: justify;
                                        font-weight: 500;
                                        font-size: 0.9rem;
                                    }

                                    ul.tags {
                                        margin: 0;
                                        padding: 0;
                                        margin-bottom: 1rem !important;
                                        list-style: none;
                                        display: block;

                                        li {
                                            display: inline;
                                            background-color: $blueDarkest;
                                            color: $blueLightest;
                                            font-size: x-small;
                                            padding: 0.2rem 0.5rem;
                                            border-radius: 0.7rem;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover .flip-card-inner {
                            transform: rotateY(180deg);
                        }
                    }

                    .flip-card,
                    .flip-card-inner,
                    .flip-card-front,
                    .flip-card-front img,
                    .flip-card-back,
                    .project-details {
                        border-radius: 0.5rem;
                        height: 18rem;
                        width: 18rem;
                    }
                }
            }

            #skills {
                background-color: $brownLightest;
                padding: 0;

                #skill-particles {
                    canvas {
                        z-index: 1;
                        width: 100%;
                        position: absolute;
                    }
                }

                .content {
                    padding: 2rem;
                    z-index: 10;
                    position: relative;
                    @media (max-width: 768px) {
                        padding: 1rem;
                    }
                    @media (max-width: 480px) {
                        padding: 0.5rem;
                    }

                    .section-header {
                        color: $brownDarkest;
                    }

                    #skillset {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .skill {
                            max-width: 30rem;
                            width: 100%;
                            margin-bottom: 1.5rem;

                            .skill-header {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                .skill-name {
                                    font-weight: bold;
                                    font-size: large;
                                    color: $brownDarkest;
                                    font-family: "Roboto Mono";
                                }

                                .skill-percent {
                                    font-family: "Roboto Mono";
                                    color: $brownDarkest;
                                }
                            }

                            .progress-base {
                                background-color: $brownLight;
                                border-radius: 0.3rem;

                                div {
                                    width: 1%;
                                    height: 0.3rem;
                                    background-color: $brownDarkest;
                                    border-radius: 0.3rem;
                                }
                            }

                            &:hover {
                                transform: scale(1.01);
                            }
                        }
                    }
                }
            }

            #experience {
                background-color: $blueLightest;

                .section-header {
                    color: $blueDarkest;
                }

                .sub-section-header {
                    display: block;
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 900;
                    line-height: 0;
                    margin-top: 4rem;
                    @media (max-width: 480px) {
                        font-size: 2rem;
                        margin-top: 3rem;
                    }
                }

                .card {
                    background-color: $blueLight;
                    border-radius: 0.5rem;
                    padding: 2rem;
                    @media (max-width: 768px) {
                        padding: 1rem;
                    }

                    &:hover {
                        @extend .card-hover-effect;
                    }

                    .header {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        flex-wrap: wrap;
                        padding: 0;

                        img {
                            height: 2rem;
                            width: 2rem;
                            padding-right: 1rem;
                            align-self: center;
                        }

                        h3 {
                            font-size: 1.3rem;
                            line-height: 0;
                            font-weight: 500;
                            overflow-wrap: break-word;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $darkGrey1;
                    }

                    span {
                        text-align: justify;
                        text-justify: inter-word;
                    }

                    .sub-header {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        padding: 1rem 0 0 0;

                        img {
                            height: 1.3rem;
                            width: 1.3rem;
                            padding: 0 0.5rem 0 0;
                            align-self: center;
                        }

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                #work-experience {
                    padding: 0;

                    .card {
                        margin-top: 1rem;

                        a {
                            display: flex;
                            flex-direction: row;
                            align-content: center;

                            img {
                                height: 2rem;
                                width: 2rem;
                                align-self: center;
                                padding: 0 0.6rem 0 0;
                            }

                            .company {
                                font-size: 1.7rem;
                                line-height: 0;
                                font-weight: 400;
                            }
                        }

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                #education {
                    padding: 0;

                    .card {
                        a {
                            .institution {
                                font-size: 1.7rem;
                                line-height: 0;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            #contact {
                background-color: $orangeLightest;
                display: flex;
                flex-direction: column;
                align-content: center;
                padding-bottom: 2rem;

                .links {
                    align-self: center;

                    button > a > img {
                        background-color: $orangeDarkest;
                        border: unset;
                    }
                }

                .section-header {
                    color: $orangeDarkest;
                }

                .contact-container {
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: flex-start;

                    @media (max-width: 768px) {
                        flex-direction: column;
                        justify-content: center;
                        align-content: flex-start;
                    }

                    img {
                        margin: 0 1rem 1rem 1rem;
                        height: 15rem;
                        width: 15rem;
                        border-radius: 0.5rem;
                        justify-self: center;
                        @media (max-width: 768px) {
                            align-self: center;
                        }
                        &:hover {
                            transform: scale(1.01) rotate(-1deg);
                            box-shadow: 1px 1px 0.5rem $orangeLight;
                        }
                    }

                    .content {
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        @media (max-width: 768px) {
                            justify-content: unset;
                            text-align: center;
                            align-content: center;
                        }

                        .content-name {
                            font-size: large;
                            color: $orangeDarkest;
                            margin-top: 0.5rem;

                            &:first-child {
                                margin-top: 0;
                            }
                        }

                        .content-value {
                            @extend .select;
                            a {
                                text-decoration: none;
                                color: unset;
                            }
                        }
                    }
                }

                #footer-copyright {
                    text-align: center;
                    margin-top: 2rem;
                    color: $orangeDarkest;
                }
            }
        }
    }
}

/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $darkerGrey3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $darkGrey1;
}
