@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto&family=Roboto+Mono&family=Roboto+Slab:wght@300&display=swap");

$lightGrey: #e0e0e0;
$darkestGrey: #252525;
$darkGrey1: #303030;
$darkerGrey2: #404040;
$darkerGrey3: #454545;
$light: #f5f5f5;

$greenLightest: #e8f5e9;
$greenLight: #c8e6c9;
$greenDarkest: #003300;

$brownLightest: #efebe9;
$brownLight: #d7ccc8;
$brownDarkest: #1b0000;

$blueLightest: #e3f2fd;
$blueLight: #bbdefb;
$blueDarkest: #002171;

$yellowLightest: #fffde7;
$yellowLight: #fff9c4;
$yellowDarkest: #bc5100;

.card-hover-effect {
    box-shadow: 1px 1px 4px $lightGrey;
    transform: scale(1.01);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

    body {
        margin: 0;
        padding: 0;

        nav {
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: $darkGrey1;
            box-shadow: 0 0 0.1rem black;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-content: center;
                align-self: center;

                li > a {
                    display: block;
                    color: $light;
                    font-weight: 100;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0.8rem 1rem;

                    &.active {
                        background-color: $darkerGrey2;
                    }

                    &:hover {
                        background-color: $darkerGrey3;
                        font-weight: 400;
                    }
                }
            }
        }

        @media (max-width: 520px) {
            nav {
                display: none;
            }
        }

        main {
            .section-header {
                text-align: center;
                display: block;
                font-size: 4rem;
                font-weight: 800;
            }

            div {
                padding: 2rem;
                color: $darkGrey1;

                text-align: justify;
                text-justify: inter-word;
            }

            @media (max-width: 768px) {
                div {
                    padding: 1rem;
                }
            }

            @media (max-width: 520px) {
                div {
                    padding: 0.5rem;
                }
            }

            .links {
                margin-top: 1rem;
                padding: 0;

                button {
                    background-color: unset !important;
                    box-shadow: unset !important;
                    border: unset !important;

                    a > img {
                        border-radius: 50%;
                        border: 1px solid $light;
                        height: 2rem;
                        width: 2rem;
                        padding: 0.5rem;
                        background-color: $darkGrey1;

                        &:hover {
                            border: unset;
                            box-shadow: 1px 1px 0.5rem $darkestGrey;
                        }
                    }
                }
            }

            #intro {
                background-color: #303030;
                color: $light;
                position: relative;
                top: 0;
                height: calc(100vh - 7rem);
                min-height: 25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media (max-width: 520px) {
                    height: 100vh;
                }

                #avatar {
                    height: 8rem;
                    width: 8rem;
                    border-radius: 50%;
                    border: 1px solid $light;
                }

                #name {
                    font-weight: 100;
                    font-size: 5rem;
                    line-height: 0rem;
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    font-family: "Julius Sans One", sans-serif;
                }

                #short-desc {
                    font-size: 1.5rem;
                    font-family: "Roboto Mono";
                }

                @media (max-width: 520px) {
                    #name {
                        font-size: 14vw;
                        margin-top: 6vw;
                        margin-bottom: 6vw;
                    }

                    #short-desc {
                        font-size: 6vw;
                    }

                    #avatar {
                        height: 30vw;
                        width: 30vw;
                    }
                }

                #download-resume-button {
                    margin-top: 1rem;
                    background-color: transparent;
                    border: 1px solid $light;

                    a {
                        text-decoration: none;

                        div {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.6rem 1rem;
                            color: $light;
                            font-family: "Roboto Mono";
                            font-size: 1.1rem;
                            text-transform: uppercase;

                            img {
                                height: 1.5rem;
                                width: 1.5rem;
                                margin-right: 0.4rem;
                            }
                        }
                    }
                }
            }

            #projects {
                background-color: $greenLightest;

                .section-header {
                    color: $greenDarkest;
                }

                .card-deck {
                    padding: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;

                    .card {
                        display: grid;
                        grid-template-columns: 10rem auto;
                        padding: 2rem;
                        border-radius: 0.5rem;
                        background-color: $greenLight;

                        &:hover {
                            @extend .card-hover-effect;
                        }

                        .project-image {
                            height: 8rem;
                            width: 8rem;
                            border-radius: 0.5rem;
                        }

                        .project-description {
                            justify-content: flex-start;
                        }
                    }

                    @media (max-width: 768px) {
                        .card {
                            grid-template-columns: 1fr;
                            padding: 1rem;
                        }
                    }
                }

                @media (max-width: 1080px) {
                    .card-deck {
                        grid-template-columns: 1fr;
                    }
                }
            }

            #skills {
                background-color: $brownLightest;

                .section-header {
                    color: $brownDarkest;
                }

                #skillset {
                    padding: 0;
                    display: flex;
                    justify-content: center;

                    $li-padding: 0.5rem;
                    $animation-delay: 0.5s;

                    @mixin border-radius($radius) {
                        -webkit-border-radius: $radius;
                        -moz-border-radius: $radius;
                        -ms-border-radius: $radius;
                        border-radius: $radius;
                    }

                    *,
                    *:before,
                    *:after {
                        margin: 0;
                        padding: 0;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                    }

                    .skills-bar-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        width: 100%;
                        max-width: 30rem;
                        list-style: none;

                        li {
                            padding: $li-padding;
                            margin-bottom: 1rem;

                            .progressbar-title {
                                display: flex;
                                justify-content: space-between;
                            }

                            .bar-container {
                                background: $brownLight;
                                position: relative;
                                width: 100%;
                                height: 5px;
                                @include border-radius(5px);

                                .progressbar {
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    @include border-radius(5px);

                                    -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                                    -webkit-animation-timing-function: ease-out;
                                    animation-timing-function: ease-out;
                                    -webkit-animation-fill-mode: both;
                                    animation-fill-mode: both;
                                }

                                #progress-html {
                                    -webkit-animation-name: progress-html;
                                    animation-name: progress-html;
                                    -webkit-animation-delay: $animation-delay;
                                    animation-delay: $animation-delay;
                                }

                                #progress-css {
                                    -webkit-animation-name: progress-css;
                                    animation-name: progress-css;
                                    -webkit-animation-delay: $animation-delay * 2;
                                    animation-delay: $animation-delay * 2;
                                }

                                #progress-javascript {
                                    -webkit-animation-name: progress-javascript;
                                    animation-name: progress-javascript;
                                    -webkit-animation-delay: $animation-delay * 3;
                                    animation-delay: $animation-delay * 3;
                                }

                                #progress-php {
                                    -webkit-animation-name: progress-php;
                                    animation-name: progress-php;
                                    -webkit-animation-delay: $animation-delay * 4;
                                    animation-delay: $animation-delay * 4;
                                }

                                #progress-angular {
                                    -webkit-animation-name: progress-angular;
                                    animation-name: progress-angular;
                                    -webkit-animation-delay: $animation-delay * 5;
                                    animation-delay: $animation-delay * 5;
                                }
                            }
                        }
                    }

                    .progressbar {
                        background-color: $brownDarkest;
                    }

                    @-webkit-keyframes progress-html {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 95%;
                        }
                    }

                    @-moz-keyframes progress-html {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 95%;
                        }
                    }

                    @keyframes progress-html {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 95%;
                        }
                    }

                    @-webkit-keyframes progress-css {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 90%;
                        }
                    }

                    @-moz-keyframes progress-css {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 90%;
                        }
                    }

                    @keyframes progress-css {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 90%;
                        }
                    }

                    @-webkit-keyframes progress-javascript {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 70%;
                        }
                    }

                    @-moz-keyframes progress-javascript {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 70%;
                        }
                    }

                    @keyframes progress-javascript {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 70%;
                        }
                    }

                    @-webkit-keyframes progress-php {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 55%;
                        }
                    }

                    @-moz-keyframes progress-php {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 55%;
                        }
                    }

                    @keyframes progress-php {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 55%;
                        }
                    }

                    @-webkit-keyframes progress-angular {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 65%;
                        }
                    }

                    @-moz-keyframes progress-angular {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 65%;
                        }
                    }

                    @keyframes progress-angular {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 65%;
                        }
                    }
                }
            }

            #experience {
                background-color: $blueLightest;

                .section-header {
                    color: $blueDarkest;
                }

                h2.sub-section-header {
                    display: block;
                    text-align: center;
                    text-decoration: underline;
                    font-size: 2rem;
                    font-weight: 500;
                }

                .card {
                    background-color: $blueLight;
                    border-radius: 0.5rem;
                    padding: 2rem;

                    &:hover {
                        @extend .card-hover-effect;
                    }

                    .header {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        flex-wrap: wrap;
                        padding: 0;

                        img {
                            height: 2rem;
                            width: 2rem;
                            padding-right: 1rem;
                            align-self: center;
                        }

                        h3 {
                            font-size: 1.3rem;
                            line-height: 0;
                            font-weight: 500;
                            overflow-wrap: break-word;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $darkGrey1;
                    }

                    span {
                        text-align: justify;
                        text-justify: inter-word;
                    }

                    .sub-header {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        padding: 1rem 0 0 0;

                        img {
                            height: 1.3rem;
                            width: 1.3rem;
                            padding: 0 0.5rem 0 0;
                            align-self: center;
                        }

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                @media (max-width: 768px) {
                    .card {
                        padding: 1rem;
                    }
                }

                #work-experience {
                    padding: 0;

                    .card {
                        margin-top: 1rem;
                        a {
                            display: flex;
                            flex-direction: row;
                            align-content: center;

                            img {
                                height: 2rem;
                                width: 2rem;
                                align-self: center;
                                padding: 0 0.6rem 0 0;
                            }
                            .company {
                                font-size: 1.7rem;
                                line-height: 0;
                                font-weight: 400;
                            }
                        }
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                #education {
                    padding: 0;

                    .card {
                        a {
                            .institution {
                                font-size: 1.7rem;
                                line-height: 0;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            #contact {
                background-color: $yellowLightest;
                display: flex;
                flex-direction: column;
                align-content: center;

                .links {
                    align-self: center;
                    button > a > img {
                        background-color: $yellowDarkest;
                    }
                }

                .section-header {
                    color: $yellowDarkest;
                }

                .contact-container {
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: flex-start;

                    img {
                        margin: 1rem;
                        height: 15rem;
                        width: 15rem;
                        border-radius: 1rem;
                        justify-self: center;
                    }

                    .content {
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .content-name {
                            font-size: large;
                            color: $yellowDarkest;
                            margin-top: 0.5rem;

                            &:first-child {
                                margin-top: 0;
                            }
                        }

                        .content-value {
                            a {
                                text-decoration: none;
                                color: unset;
                            }
                        }
                    }
                }

                @media (max-width: 768px) {
                    .contact-container {
                        flex-direction: column;
                        justify-content: center;
                        align-content: flex-start;

                        img {
                            align-self: center;
                        }

                        .content {
                            justify-content: unset;
                            text-align: center;
                            align-content: center;
                        }
                    }
                }
            }
        }
    }
}

/* #particles {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#particles canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
} */

/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #505050;
}
